body {
    font-family: Arial, sans-serif;
    background-image: url('img/istockphoto-1271431617-612x612.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: fixed; /* Fija el navbar en la parte superior */
    top: 0; /* Posiciona el navbar en la parte superior */
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    width: 100%; /* Asegura que el navbar ocupe todo el ancho */
}

/* Contenedor principal */
.container {
    margin-top: 15%; /* Ajusta el margen superior para que las cards no se escondan detrás del navbar */
    text-align: center;
    flex: 1;
    padding: 20px; /* Añade padding para dar espacio en los laterales */
    display: flex;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#search-form {
    display: flex;
    justify-content: center;
}

#search-form input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}

#search-form button[type="button"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#results {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
    clear: both;
    position: fixed; /* Fija el footer en la parte inferior */
    bottom: 0; /* Posiciona el footer en la parte inferior */
    z-index: 1000; /* Asegura que el footer esté por encima de otros elementos */
    width: 100%; /* Asegura que el footer ocupe todo el ancho */
}

footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

footer li {
    margin-right: 20px;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:hover {
    color: #ccc;
}
